<%= form_with(model: user, local: true) do |form| %>
  <% if user&.errors&.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to(omniauth_authorize_path(resource_name, provider), class: "btn btn-block btn-lg btn-#{provider}") do %>
        <i class="fa fa-<%= provider %>-official"></i> <%= OmniAuth::Utils.camelize(provider) %>
      <% end %>
    <% end %>
  <% end %>

  <p class="divider-text">
    <span class="bg-light">OR</span>
  </p>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.email_field :email,
      placeholder: "Email",
      autocomplete: 'email',
      class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= form.label :username %>
    <%= react_input_field_for @user,
      modelname: 'user',
      fieldname: 'username',
      placeholder: 'Username',
      autocomplete: 'username',
      class: "form-control form-control-lg"%>
  </div>

  <div class="form-group">
    <%= form.label :password %><br />
    <%= form.password_field :password, autocomplete: "current-password", class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= form.submit "Sign up", class: "btn btn-primary btn-block btn-lg" %>
  </div>
<% end %>
