<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "Full Name" %>
  </div>

  <%= content_tag :div,
    id: "user_data",
    data: @user.to_json do %>
  <% end %>

  <div id="signupUsernameReact" class="field">
    <%= form.label :username %>
    <%= javascript_pack_tag 'signup' %>
  </div>

  <div class="actions">
    <%= form.submit "Sign up" %>
  </div>
<% end %>
