<!DOCTYPE html>
<html>
  <head>
    <title>SignupDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'bootstrap', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'Home', root_path, class: 'navbar-brand', 'data-turbolinks' => false %>
    </nav>
    <%= render 'layouts/flashes' %>
    <%= yield %>
  </body>
</html>
