<!DOCTYPE html>
<html>
  <head>
    <title>SignupDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'bootstrap', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav><%= link_to 'Home', root_path, 'data-turbolinks' => false %></nav>
    <%= render 'layouts/flashes' %>
    <%= yield %>
  </body>
</html>
